{% extends "spoonfulofgoodness/layout/base.html" %}
{% load static %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}" type="text/css">
{% endblock %}
{% block content %}
<!-- Receipe Slider -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="receipe-slider owl-carousel">
                <img src="https://drive.google.com/uc?id=1IGQpnjmb480WZxp7Fw27Sfz97dHYaP9k" alt="">
                <img src="https://drive.google.com/uc?id=1IGQpnjmb480WZxp7Fw27Sfz97dHYaP9k" alt="">
                <img src="https://drive.google.com/uc?id=1IGQpnjmb480WZxp7Fw27Sfz97dHYaP9k" alt="">
            </div>
        </div>
    </div>
</div>
<br><br>
<!-- Receipe Content Area -->
<div class="receipe-content-area">
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-8">
                <div class="receipe-headline my-5">
                    <span>April 05, 2018</span>
                    <h2>Beef Cutlet</h2>
                    <div class="receipe-duration">
                        <h6>Time: 50 mins</h6>
                        <h6>Servings: 3 plates</h6>
                        <h6>Calories: 300 KCal</h6>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="receipe-ratings text-right my-5">
                    <div class="ratings">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <a href="#" class="primary-btn header-btn text-uppercase">No Pork</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>01.</h4>
                    <p>Prepare the beef cutlets first. Using a cheese grater, grate the onion into a large bowl. You can also use a food processor. To the bowl, add the ground beef, egg, and season with salt, pepper and fresh dill. Soak the bread in a bowl of water and squeeze out a bit water if too much is absorbed; I like to use a 6-inch piece of baguette.</p>
                </div>
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>02.</h4>
                    <p>Break the baguette into small pieces and add to the bowl. Using your hands, mix all the ingredients together until a uniform mixture forms. Use a measuring scoop (mine was 3 tablespoons) to portion the mixture into cutlet sized portions. Place the panko bread crumbs into a small bow. Press each cutlet into a flat oval shape, then drop into the bread crumbs, coating well all over.
                        </p>
                </div>
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>03.</h4>
                    <p>Preheat a large frying pan with a few tablespoons of olive oil over medium heat. Add the cutlets to the pan, spacing them out evenly. Avoid over-crowding the pan; cook the cutlets in batches. Fry the cutlets 4 to 6 minutes on each side, until golden brown. Make sure cutlets cook all the way through; check with a meat thermometer if need - it needs to reach 160F. Remove the cutlets onto a tray lined with paper towels to absorb any excess oil; keep warm until ready to serve.</p>
                </div>
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>04.</h4>
                    <p>Next, prepare the mushroom gravy. Melt the butter in a large saute pan, along with a bit of olive oil, over medium heat. Add the mushrooms and saute for 4 to 5 minutes, until the mushrooms are nicely browned. Season the mushrooms with a bit of salt once they're browned, then remove them from the pan into a large bowl.</p>
                </div>
            </div>

            <!-- Ingredients -->
            <div class="col-12 col-lg-4">
                <div class="ingredients">
                    <h4>Ingredients</h4>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">1 pound ground beef</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2">1 large onion</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3">1 large egg</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                        <label class="custom-control-label" for="customCheck4">1 tablespoon fresh dill</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck5">
                        <label class="custom-control-label" for="customCheck5">2 yogurt containers unbleached white flour</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck6">
                        <label class="custom-control-label" for="customCheck6">1.5 yogurt containers milk</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck7">
                        <label class="custom-control-label" for="customCheck7">1/4 tsp cinnamon</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck8">
                        <label class="custom-control-label" for="customCheck8">1 cup fresh blueberries </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}