{% extends "spoonfulofgoodness/layout/base.html" %}
{% load static %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}" type="text/css">
{% endblock %}

{% block content %}

<!-- Start top-dish Area -->
<section class="top-dish-area section-gap one-section" id="dish">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Our Top Rated Dishes</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>						
        <div class="row">
            
            <div class="single-dish col-lg-4">
                <a href="{% url 'foodList:breadFruitPie'%}">
                <div class="thumb">
                    <img class="img-fluid"  src="https://drive.google.com/uc?id=1Pj9_6CpsebtLNMnUvlX_UA7Cc8521QYh" alt="" style="width:300px;height:160px;">
                </div>
                <h4 class="text-uppercase pt-20 pb-20">Bread Fruit Cheese Sandwich</h4>
            </a>
                <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                </p>
            
            </div>
            

            <div class="single-dish col-lg-4">
                <a href="{% url 'foodList:breadFruitPie'%}">
                <div class="thumb">
                    <img class="img-fluid"  src="https://drive.google.com/uc?id=1hibve4enni0FaCFf1FYkvb7bq8GW7OBl" alt="" style="width:300px;height:160px;">
                </div>
                <h4 class="text-uppercase pt-20 pb-20">Beef Cutlet with Spring Onion</h4>
            </a>
                <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                </p>
            </div>
            
            <div class="single-dish col-lg-4">
                <a href="{% url 'foodList:breadFruitPie'%}">
                <div class="thumb">
                    <img class="img-fluid"  src="https://drive.google.com/uc?id=1uGwdmhRULQGPWB5Lrr-J926yQIXQp4TQ" alt="" style="width:300px;height:160px;">
                </div>
                <h4 class="text-uppercase pt-20 pb-20">Meat with sauce & Vegetables</h4>
                </a>
                <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                </p>
            </div>												
        </div>
    </div>	
    <br><br>
</section>
<br><br><br><br>
<!-- End top-dish Area -->


{% endblock %}