{% extends "spoonfulofgoodness/layout/base.html" %}
{% load static %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}" type="text/css">
{% endblock %}
{% block content %}
<!-- Receipe Slider -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="receipe-slider owl-carousel">
                <img src="https://drive.google.com/uc?id=1hibve4enni0FaCFf1FYkvb7bq8GW7OBl" alt="">
                <img src="https://drive.google.com/uc?id=1uGwdmhRULQGPWB5Lrr-J926yQIXQp4TQ" alt="">
                <img src="https://drive.google.com/uc?id=1IGQpnjmb480WZxp7Fw27Sfz97dHYaP9k" alt="">
            </div>
        </div>
    </div>
</div>
<br><br>
<!-- Receipe Content Area -->
<div class="receipe-content-area">
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-8">
                <div class="receipe-headline my-5">
                    <span>April 05, 2018</span>
                    <h2>Mushroom Fried Rice</h2>
                    <div class="receipe-duration">
                        <h6>Time: 50 mins</h6>
                        <h6>Servings: 3 plates</h6>
                        <h6>Calories: 1220 KCal</h6>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="receipe-ratings text-right my-5">
                    <div class="ratings">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <a href="#" class="primary-btn header-btn text-uppercase">No Pork</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>01.</h4>
                    <p>Cook rice according to package directions and set aside </p>
                </div>
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>02.</h4>
                    <p>Meanwhile, heat 2 tsp. oil in large nonstick skillet or wok over medium-high heat. Add half of both mushrooms and cook, stirring often, 5 minutes, or until tender and golden. Transfer to plate. Repeat with remaining mushrooms and 1 tsp. oil. Add mushrooms to plate. </p>
                </div>
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>03.</h4>
                    <p>Heat remaining 1 tsp. oil in same pan over medium heat. Add green onions, ginger and red pepper flakes, and cook, stirring often, 30 seconds, or until fragrant. Increase heat to medium-high and add rice, soy sauce and broth. Cook, stirring often, 2 minutes, then add mushrooms and peas. Cook, stirring often, 1 to 2 minutes, or until heated through. Remove pan from heat and stir in sesame oil. Serve warm. </p>
                </div>
            
            </div>

            <!-- Ingredients -->
            <div class="col-12 col-lg-4">
                <div class="ingredients">
                    <h4>Ingredients</h4>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">1 cup uncooked brown rice, or 3 cups cooked rice</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2">4 tsp. vegetable oil</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3">12 oz. cremini mushrooms, thinly sliced</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                        <label class="custom-control-label" for="customCheck4">8 oz. shiitake mushrooms, stems and gills removed, caps thinly sliced</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck5">
                        <label class="custom-control-label" for="customCheck5">6 green onions, including green tops, thinly sliced</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck6">
                        <label class="custom-control-label" for="customCheck6">1/4 tsp. crushed red pepper flakes</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck7">
                        <label class="custom-control-label" for="customCheck7">3 Tbs. low-sodium soy sauce</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck8">
                        <label class="custom-control-label" for="customCheck8">3 Tbs. mushroom or low-sodium vegetable broth </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}