{% extends "spoonfulofgoodness/layout/base.html" %}
{% load static %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}" type="text/css">
{% endblock %}
{% block content %}
<!-- Receipe Slider -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="receipe-slider owl-carousel">
                <img src="https://drive.google.com/uc?id=1hibve4enni0FaCFf1FYkvb7bq8GW7OBl" alt="">
                <img src="https://drive.google.com/uc?id=1uGwdmhRULQGPWB5Lrr-J926yQIXQp4TQ" alt="">
                <img src="https://drive.google.com/uc?id=1IGQpnjmb480WZxp7Fw27Sfz97dHYaP9k" alt="">
            </div>
        </div>
    </div>
</div>
<br><br>
<!-- Receipe Content Area -->
<div class="receipe-content-area">
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-8">
                <div class="receipe-headline my-5">
                    <span>April 05, 2018</span>
                    <h2>Vegan Lasagna Rolls</h2>
                    <div class="receipe-duration">
                        <h6>Time: 50 mins</h6>
                        <h6>Servings: 3 plates</h6>
                        <h6>Calories: 344 KCal</h6>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="receipe-ratings text-right my-5">
                    <div class="ratings">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <a href="#" class="primary-btn header-btn text-uppercase">No Pork</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>01.</h4>
                    <p>To begin, preheat your oven at 450 degrees F. Cook the lasagna noodles according to package directions (don’t overcook). If the box says 7-9 minutes, I’ll cook for 7 minutes. Drain and rinse. Set aside.</p>
                </div>
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>02.</h4>
                    <p>Meanwhile, make the béchamel sauce. To a large saucepan over medium heat, add vegan butter. When melted, add flour and stir with a whisk. Immediately add 1 cup almond milk and nutmeg. Stir with a whisk and simmer over medium heat until thickened, about 5 minutes, stirring occasionally. When thick, remove from heat and transfer to the bottom of a 9×12 glass baking pan. Distribute evenly on the bottom of the pan.</p>
                </div>
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>03.</h4>
                    <p>In a high powered blender, add raw cashews, nutritional yeast, salt, pepper and Italian seasoning. Blend until very fine. Add the lemon juice and 1/2 cup almond milk and blend until creamy.</p>
                </div>
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>04.</h4>
                    <p>Transfer the cooked veggies to a large bowl and add cashew cream. Add spinach and 1/2 cup chopped basil. Stir until combined. To each piece of lasagna, add about 1/4 cup veggie/cashew mix and spread across the noodle. Roll the noodle up and place each roll in the baking pan, spaced apart evenly, on top of the béchamel sauce. Repeat until all noodles and filling are used up. Top with 2 tablespoons of marinara sauce on each lasagna roll. </p>
                </div>
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                    <h4>05.</h4>
                    <p>Bake uncovered at 450 F for 25-30 minutes or until bubbling. Add extra sauce, or sprinkle with chopped basil and/or nutritional yeast if desired. Makes 8 vegan lasagna rolls. *You can also cover and freeze for later. To do this, remove from freezer and let sit for 20 minutes, then bake at 450 for 35-40 minutes.</p>
                </div>
                
            </div>

            <!-- Ingredients -->
            <div class="col-12 col-lg-4">
                <div class="ingredients">
                    <h4>Ingredients</h4>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">4 Tbsp (57 gr) butter</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2">2 large eggs</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3">2 yogurt containers granulated sugar</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                        <label class="custom-control-label" for="customCheck4">1 vanilla or plain yogurt, 170g container</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck5">
                        <label class="custom-control-label" for="customCheck5">2 yogurt containers unbleached white flour</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck6">
                        <label class="custom-control-label" for="customCheck6">1.5 yogurt containers milk</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck7">
                        <label class="custom-control-label" for="customCheck7">1/4 tsp cinnamon</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck8">
                        <label class="custom-control-label" for="customCheck8">1 cup fresh blueberries </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}