{% extends "spoonfulofgoodness/layout/base.html" %}
{% load staticfiles %}
{% block content %}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                <h4 class="text-white text-uppercase">Wide Options of Choice</h4>
                <h1>
                    Delicious Receipes					
                </h1>
                <p class="text-white">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br> or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                </p>
                <a href="#" class="primary-btn header-btn text-uppercase">Check Our Menu</a>
            </div>												
        </div>
    </div>
</section>
<!-- End banner Area -->	

<!-- Start top-dish Area -->
<section class="top-dish-area section-gap" id="dish">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Our Top Rated Dishes</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>						
        <div class="row">
            <div class="single-dish col-lg-4">
                <div class="thumb">
                    <img class="img-fluid"  src="img/d1.jpg" alt="">
                </div>
                <h4 class="text-uppercase pt-20 pb-20">Bread Fruit Cheese Sandwich</h4>
                <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                </p>
            </div>
            <div class="single-dish col-lg-4">
                <div class="thumb">
                    <img class="img-fluid"  src="img/d2.jpg" alt="">
                </div>
                <h4 class="text-uppercase pt-20 pb-20">Beef Cutlet with Spring Onion</h4>
                <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                </p>
            </div>
            <div class="single-dish col-lg-4">
                <div class="thumb">
                    <img class="img-fluid"  src="img/d3.jpg" alt="">
                </div>
                <h4 class="text-uppercase pt-20 pb-20">Meat with sauce & Vegetables</h4>
                <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                </p>
            </div>												
        </div>
    </div>	
</section>
<!-- End top-dish Area -->

<!-- Start video Area -->
<section class="video-area">
    <div class="container">
        <div class="row justify-content-center align-items-center flex-column">
            <a class="play-btn" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
                <img src="img/play-btn.png" alt="">
            </a>
            <h3 class="pt-20 pb-20 text-white">We Always serve the vaping hot and delicious foods</h3>
            <p class="text-white">Youtube video will appear in popover</p>
        </div>
    </div>	
</section>
<!-- End video Area -->


<!-- Start features Area -->
<section class="features-area pt-100" id="feature">
    <div class="container">
        <div class="feature-section">
            <div class="row">
                <div class="single-feature col-lg-3 col-md-6">
                    <img src="img/f1.png" alt="">
                    <h4 class="pt-20 pb-20">Refreshing Breakfast</h4>
                    <p>
                        Lorem ipsum dolor sit ametcons ecteturadipis icing elit.
                    </p>
                </div>
                <div class="single-feature col-lg-3 col-md-6">
                    <img src="img/f2.png" alt="">
                    <h4 class="pt-20 pb-20">Awesome Lunch</h4>
                    <p>
                        Lorem ipsum dolor sit ametcons ecteturadipis icing elit.
                    </p>
                </div>
                <div class="single-feature col-lg-3 col-md-6">
                    <img src="img/f3.png" alt="">
                    <h4 class="pt-20 pb-20">Soothing Dinner</h4>
                    <p>
                        Lorem ipsum dolor sit ametcons ecteturadipis icing elit.
                    </p>
                </div>
                <div class="single-feature col-lg-3 col-md-6">
                    <img src="img/f4.png" alt="">
                    <h4 class="pt-20 pb-20">Rich Quality Buffet</h4>
                    <p>
                        Lorem ipsum dolor sit ametcons ecteturadipis icing elit.
                    </p>
                </div>														
            </div>											
        </div>
    </div>	
</section>
<!-- End features Area -->


<!-- Start related Area -->
<section class="related-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Our Featured Food Menus</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>						
        <div class="row justify-content-center">
            <div class="active-realated-carusel">
                <div class="item row align-items-center">
                    <div class="col-lg-6 rel-left">
                       <h3>
                               Fresh & Crispy All the time
                       </h3>
                       <p class="pt-30 pb-30">
                               Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                       </p>
                        <a href="#" class="primary-btn header-btn text-uppercase">view full menu</a>								   
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid" src="img/slider1.jpg" alt="">
                    </div>
                </div>
                <div class="item row align-items-center">
                    <div class="col-lg-6 rel-left">
                       <h3>
                               Fresh & Crispy All the time
                       </h3>
                       <p class="pt-30 pb-30">
                               Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                       </p>
                        <a href="#" class="primary-btn header-btn text-uppercase">view full menu</a>								   
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid" src="img/slider1.jpg" alt="">
                    </div>
                </div>							
            </div>
        </div>
    </div>	
</section>
<!-- End related Area -->	


<!-- Start team Area -->
<section class="team-area section-gap" id="chefs">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Meet Our Qualified Chefs</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>						
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="img/t1.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Ethel Davis</h4>
                    <p>Managing Director (Sales)</p>									    	
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="img/t2.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Rodney Cooper</h4>
                    <p>Creative Art Director (Project)</p>			    	
                </div>
            </div>	
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="img/t3.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Dora Walker</h4>
                    <p>Senior Core Developer</p>			    	
                </div>
            </div>	
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="img/t4.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Lena Keller</h4>
                    <p>Creative Content Developer</p>			    	
                </div>
            </div>																		
        </div>
    </div>	
</section>
<!-- End team Area -->			

<!-- start blog Area -->		
<section class="blog-area section-gap" id="blog">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Latest From Our Blog</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
                </div>
            </div>
        </div>					
        <div class="row">
            <div class="col-lg-3 col-md-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="img/b1.jpg" alt="">
                </div>
                <p class="date">10 Jan 2018</p>
                <a href="#"><h4>Cooking Perfect Fried Rice
                in minutes</h4></a>
                <p>
                    inappropriate behavior ipsum dolor sit amet, consectetur.
                </p>
                <div class="meta-bottom d-flex justify-content-between">
                    <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                    <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                </div>									
            </div>
            <div class="col-lg-3 col-md-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="img/b2.jpg" alt="">
                </div>
                <p class="date">10 Jan 2018</p>
                <a href="#"><h4>Secret of making Heart 
                Shaped eggs</h4></a>
                <p>
                    inappropriate behavior ipsum dolor sit amet, consectetur.
                </p>
                <div class="meta-bottom d-flex justify-content-between">
                    <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                    <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                </div>									
            </div>
            <div class="col-lg-3 col-md-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="img/b3.jpg" alt="">
                </div>
                <p class="date">10 Jan 2018</p>
                <a href="#"><h4>How to check steak if 
                it is tender or not</h4></a>
                <p>
                    inappropriate behavior ipsum dolor sit amet, consectetur.
                </p>
                <div class="meta-bottom d-flex justify-content-between">
                    <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                    <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                </div>									
            </div>
            <div class="col-lg-3 col-md-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="img/b4.jpg" alt="">
                </div>
                <p class="date">10 Jan 2018</p>
                <a href="#"><h4>Addiction When Gambling
                Becomes A Problem</h4></a>
                <p>
                    inappropriate behavior ipsum dolor sit amet, consectetur.
                </p>
                <div class="meta-bottom d-flex justify-content-between">
                    <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                    <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                </div>									
            </div>						
        </div>
    </div>	
</section>
<!-- end blog Area -->	

{% endblock %}